<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/ic_app"
        android:label="YHour Owner"
        android:roundIcon="@drawable/ic_app"
        android:supportsRtl="true"
        android:theme="@style/Theme.YhourOwnerProject"
        tools:targetApi="31">
        <activity
            android:name=".activities.StaffListActivity"
            android:exported="false" />
        <activity
            android:name=".activities.NewShopActivity"
            android:exported="false" />
        <activity
            android:name=".activities.SalaryListActivity"
            android:exported="false" />
        <activity
            android:name=".activities.TimekeepingListActivity"
            android:exported="false" />
        <activity
            android:name=".activities.StaffDetailActivity"
            android:exported="false" />
        <activity
            android:name=".activities.WeekDetailActivity"
            android:exported="false" />
        <activity
            android:name=".activities.WeekListActivity"
            android:exported="false" />
        <activity
            android:name=".activities.NewCalendarActivity"
            android:exported="false" />

        <activity
            android:name=".activities.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.SignInForOwnerActivity"
            android:exported="false" />
        <activity
            android:name=".activities.SignUpForOwnerActivity"
            android:exported="false" />
        <activity
            android:name=".activities.SignUpSuccessOwner"
            android:exported="false" />
        <activity
            android:name=".activities.MainActivity"
            android:exported="false" />
        <activity
            android:name=".activities.BottomTabActivity"
            android:exported="false" />
        <activity
            android:name=".activities.SignUpForStaffActivity"
            android:exported="false" />
    </application>

</manifest>